.container {
    margin: auto;
    height: 94vh;
    width: 99vw;
}

.container_image {
    opacity: 0.4;
    position: absolute;
    left: 45%;
    top: 45%;
    width: 200px;
    border-radius: 10px;
    height: auto;
    z-index: 0;
}

@media only screen and (max-width: 600px) {
  .container_image {
    left: 23%;
    top: 35%;
  }
}

.content {
    padding-bottom: 1rem;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.messages{
    width: 85%;
    height: 100%;
    margin-top: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 2px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.messages::-webkit-scrollbar{
    display: none;
}

.messages:first-child{
    margin-top: auto;
}

.chat {
    margin: 0 auto;
    width: 90%;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    
}

.chat_btn_friend_list{
    width: 10px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: #ce911b;
}

.chat_btn_friend_list:hover{
    background-color:#f0eff0
}

.chat_burger_menu_img{
    width: 30px;
    height: 30px;
}

.chat_input {
    width: 85%;
    padding: 4px 20px;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 10px 0 0 10px;
    transition: 0.5s ease-in;
}

.chat_input:focus-visible{
    outline: 0;
    border-bottom: 2px solid #ce911b;
}

.chat_button {
    margin: 0;
    background: #ce911b;
    color: #f0eff0;
    border-bottom: 2px solid #ce911b;
    border-radius: 0px 10px 10px 0px;
    transition: 0.5s ease-in;
}

.chat_button:hover{
    background: #f0eff0;
    border-bottom: 2px solid #f0eff0;
    color: #252430;
}
