.container{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
    height:600px;
    background-color: #f0eff0;
    border: 1px solid #f0eff0;
    border-radius: 5px;
    box-shadow: -3px 4px #ce911b;
    overflow: hidden;
}

.title{
    
    text-align: center;
    font-size: 1.5rem;
    background-color: #252430;
}

.search_input{
    font-size: 1.4rem;
    width: 350px;
    margin: 10px 3%;
    padding: 5px 10px;
    background-color: #f0eff0;
    border: 0;
    border-bottom: 2px solid #ce911b;
    border-radius: 2px;
    outline: 0;
}

.friend_list{
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow-y: auto;
}